.scrollToTopButton {
  width: 50px;
  height: 50px;
  border-radius: 20%;
  background-color: #3b82f6;
  border: none;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  opacity: 0;
  pointer-events: none;
}

.scrollToTopButton.show {
  opacity: 100;
  pointer-events: auto;
}

.svgIcon {
  width: 12px;
  transition-duration: 0.3s;
}

.svgIcon path {
  fill: #e9e9e9;
}

.scrollToTopButton:hover {
  width: 140px;
  border-radius: 15px;
  transition-duration: 0.3s;
  background-color: #1b5eca;
  align-items: center;
}

.scrollToTopButton:hover .svgIcon {
  /* width: 20px; */
  transition-duration: 0.3s;
  transform: translateY(-200%);
}

.scrollToTopButton::before {
  position: absolute;
  bottom: -20px;
  content: "Back to Top";
  color: #e9e9e9;
  /* transition-duration: .3s; */
  font-size: 0px;
}

.scrollToTopButton:hover::before {
  font-family: Garet;
  font-size: 15px;
  opacity: 1;
  bottom: unset;
  /* transform: translateY(-30px); */
  transition-duration: 0.3s;
}
